* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;

@mixin Responsive($canvas) {
  @if $canvas == XS {
    @media only screen and (max-width: $SM) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (min-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (min-width: $MD) {
      @content;
    }
  } @else if $canvas == LG {
    @media only screen and (min-width: $LG) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (min-width: $XL) {
      @content;
    }
  }
}

body {
  background-image: linear-gradient(to bottom right, #bce5ec, #e9d5cf);
  background-repeat: no-repeat;
  @include Responsive(XS) {
    background-size: cover;
  }
}

.container {
  // padding: 215px 0;
  // @include Responsive(XS) {
  //   padding: 85px 0;
  // }
  height: 100vh;
}

.login_content {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  height: 600px;
  overflow: hidden;
  transform: translateY(40%);
  @include Responsive(XS) {
    width: 90%;
    margin: 0 auto;
    transform: translateY(30%);
  }
  .welcome {
    background-image: url(../../asset/img/best-running-shoe-brands-.png);
    backdrop-filter: blur(10px); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
    overflow: hidden;

    &::before {

    }
    
    nav {
      div{
        border: none;
        display: flex;
        flex-direction: column;
        align-items: end;
        button {
          width: 30%;
        }
      }
    }
    button {
      font-weight: bold;        
      background-color: rgba(255, 255, 255, 0.774);
      padding: 5px 30px;
      border-radius: 25px;
      transform: translateX(20px);
      color: black;
      &.active {
        color: #ff7f00;
        background-color: rgba(255, 255, 255, 0.774);
        border-radius: 25px;
        padding: 5px 30px;
        transform: translateX(40px);
        border: none;
      }
    }
    @include Responsive(XS) {
      display: none;
    }
  }
  .user_login {
    width: 50%;
    padding: 60px 70px;
    background-color: white;

    #successful {
      text-align: center;
      font-size: 40px;
    }

    .logo {
      text-align: center;
    }
    form {
      .input-group {
        .input-group-text {
          padding: 0.75rem;
          background-color: transparent;
          border-radius: 0;
          border-bottom: 1px solid gray;
          border-top: none;
          border-left: none;
          border-right: none;
        }
      }
      input {
        border-bottom: 1px solid gray;
        border-top: none;
        border-left: none;
        border-right: none;
        &.form-control {
          background-color: transparent;
          border-radius: 0;
          &:focus {
            box-shadow: none;
          }
        }
      }
      button {
        padding: 10px 50px;
        border-radius: 25px;
        border: none;
        background-color: #ff7f00;
        color: white;
        font-size: 20px;
        &:hover {
          color: #111111;
          background-color: #ff7f00;
        }
        transition: all 0.5s;
      }
      .forgot {
        text-align: right;
        a {
          color: #111111;
          text-decoration: none;
          transition: all 0.5s;
          &:hover {
            color: #ff7f00;
          }
        }
      }
      #genderSelect{
        display: flex;
        div {
          margin: 10px;
        }
      }
    }
    .social_account {
      p {
        color: #111111;
      }
      button {
        margin-right: 5px;
        height: 35px;
        width: 35px;
        display: inline-block;
        border-radius: 50%;
        font-size: 14px;
        color: white;
        border: none;
        &:first-child {
          background-color: #1877f2;
        }
        &:nth-child(2) {
          background-color: #1da1f2;
        }
        &:last-child {
          background-color: #d8513b;
        }
      }
    }
    #error {
      color: red;
    }
    .signup_link {
      a {
        text-decoration: none;
        color: #111111;
        display: none;
        &:hover {
          color: #ff7f00;
        }
      }
    }
    @include Responsive(XS) {
      width: 100%;
      padding: 40px;
      .logo {
        img {
          width: 100%;
        }
      }
      form {
        button {
          padding: 10px 20px;
          font-size: 18px;
        }
        .forgot {
          a {
            font-size: 16px;
          }
        }
      }
      .social_account {
        p {
          font-size: 16px;
        }
      }
      .signup_link {
        a {
          display: block;
        }
      }
    }
  }
}
