* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

// color
$title-color: #111111;
$color-orange: #ff7f00;
$color-white: #fff;

// font
$fw-bold: bold;
$fw-semiBold: 600;
$fw-regular: 400;

$fs-18: 18px;
$fs-20: 20px;

@mixin rotateText() {
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: left top;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: left top;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin: left top;
  -o-transform: rotate(-90deg);
  -o-transform-origin: left top;
  transform: rotate(-90deg);
  transform-origin: left top;
}

@mixin styleButton($pt, $pl) {
  padding: $pt $pl;
  border-radius: 25px;
  border: none;
  background-color: $color-orange;
  color: $color-white;
  font-size: $fs-20;
  &:hover {
    color: $title-color;
  }
  transition: all 0.5s;
}

@mixin styleTextTitle($fontSize, $fontWeight) {
  color: $title-color;
  font-size: $fontSize;
  font-weight: $fontWeight;
}

// style
header {
  position: absolute;
  z-index: 999999;
  width: 100%;
  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    nav {
      .nav-item {
        margin-right: 10px;
        .nav-link {
          font-size: $fs-18;
          color: $title-color;
          &:hover,
          &.active {
            color: $color-orange;
          }
        }
      }
      .dropdown {
        position: relative;
        &:hover {
          .dropdown-menu {
            display: block;
          }
          .nav-link {
            color: $color-orange;
          }
        }
        .dropdown-menu {
          background-color: #f1f1f1;
          border-radius: 0;
          border: none;
          display: none;
          position: absolute;
          .dropdown-item {
            color: #666;
            font-size: 14px;
            &:hover {
              background-color: #ddd;
              color: $color-orange;
            }
          }
        }
        .dropdown-toggle {
          &::after {
            vertical-align: 0.1em;
          }
        }
      }
    }
    .icon_menu {
      align-items: center;
      .price {
        margin-bottom: 0;
      }
    }
  }
}

.banner {
  background-image: linear-gradient(to bottom right, #bce5ec, #e9d5cf);
  .banner_content {
    height: 100vh;
    padding-top: 130px;
    .carousel-item {
      &:first-child,
      &:last-child {
        .carousel_content {
          img {
            transform: scale(0.6) rotate(-15deg);
          }
        }
      }
      &:nth-child(2) {
        .carousel_content {
          img {
            transform: scale(0.7);
            margin: 0 auto;
            width: 90%;
          }
        }
      }
      .carousel_content {
        position: relative;
        min-height: 800px;
        .carousel_title {
          font-weight: $fw-bold;
          color: #f6f8f9;
          text-align: center;
          font-size: 150px;
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .vendor {
          @include rotateText();
          font-weight: $fw-semiBold;
          color: $title-color;
          letter-spacing: 3px;
          position: absolute;
          left: 0;
          bottom: 180px;
          width: 100%;
          i {
            font-size: 16px;
            color: $color-orange;
            vertical-align: 0.2em;
            margin-left: 15px;
          }
        }
        .add_cart {
          position: absolute;
          right: 0;
          bottom: 50px;
          text-align: right;
          .cart_product_id {
            color: #a6aaab;
            font-size: $fs-18;
          }
          .cart_product_price {
            color: $title-color;
            font-size: 50px;
            font-weight: $fw-bold;
          }
          .btn_add_cart {
            @include styleButton(10px, 30px);
            font-weight: $fw-bold;
          }
        }
      }
    }
  }
}

.collection {
  .collection_content {
    padding: 70px 0;
    img {
      width: 100%;
      height: auto;
    }
    .subtitle {
      @include styleTextTitle($fs-20, unset);
    }
    .title {
      @include styleTextTitle(80px, $fw-semiBold);
    }
    button {
      @include styleButton(10px, 30px);
      margin-bottom: 50px;
    }
    .content_right {
      padding: 40px 0 40px 15px;
    }
  }
}

.new_arrival {
  .new_arrival_content {
    padding: 50px 0;
    text-align: center;
    .subtitle {
      @include styleTextTitle($fs-20, unset);
    }
    .title {
      @include styleTextTitle(60px, $fw-semiBold);
    }
    button {
      @include styleButton(10px, 25px);
    }
    .new_arrival_product {
      .product_item {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        img {
          width: 100%;
          transform: scale(0.9);
          // background-color: #e2e6e7;
        }
        a {
          @include styleTextTitle($fs-18, unset);
          text-decoration: none;
          &:hover {
            color: $color-orange;
          }
        }
        p {
          color: $color-orange;
          font-size: 22px;
        }
        .product_icon {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          justify-content: space-between;
          padding: 15px 15px 0 15px;
          .new_tag {
            background-color: #ff5b72;
            width: 50px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            color: white;
            border-radius: 5px;
            font-size: 13px;
          }
          .icon {
            display: flex;
            flex-direction: column;
            i {
              transform: translateX(55px);
              &:hover {
                color: $color-orange;
              }
            }
          }
        }
        &:hover {
          .product_icon {
            .icon {
              i {
                &:first-child {
                  transform: translateX(0);
                  transition: all 0.5s;
                }
                &:nth-child(2) {
                  transform: translateX(0);
                  transition: all 0.5s;
                  transition-delay: 0.2s;
                }
                &:last-child {
                  transform: translateX(0);
                  transition: all 0.5s;
                  transition-delay: 0.4s;
                }
              }
            }
          }
        }
      }
    }
  }
}

.background {
  background-image: url("../../asset/img/New-Project-8-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .limited {
    .limited_content {
      padding-top: 150px;
      .limited_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 610px;
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        .subtitle {
          @include styleTextTitle($fs-20, unset);
        }
        .title {
          @include styleTextTitle(60px, $fw-semiBold);
        }
        button {
          @include styleButton(10px, 30px);
        }
      }
    }
  }
  .about_us {
    margin-top: 150px;
    .about_content {
      .about_img {
        img {
          width: 100%;
        }
        padding: 0;
      }
      .about_title {
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title_content {
          padding: 0 30px;
        }
        .title {
          @include styleTextTitle(60px, $fw-semiBold);
        }
        .description {
          @include styleTextTitle($fs-18, unset);
        }
        button {
          @include styleButton(10px, 30px);
        }
      }
    }
  }
}

.brands {
  margin: 70px 0;
  .container {
    padding: 0;
  }
  .brand_content {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 60px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 50px 30px;
    .brand_title {
      text-align: center;
      grid-row: 1 / span 2;
      align-self: center;
      .subtitle {
        @include styleTextTitle($fs-20, unset);
      }
      .title {
        @include styleTextTitle(60px, $fw-semiBold);
      }
    }
  }
}

.popular {
  .popular_content {
    text-align: center;
    .subtitle {
      @include styleTextTitle($fs-20, unset);
    }
    .title {
      @include styleTextTitle(60px, $fw-semiBold);
    }
    .popular_product {
      .product_item {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        img {
          width: 100%;
          transform: scale(0.9);
          // background-color: #e2e6e7;
        }
        a {
          @include styleTextTitle($fs-18, unset);
          text-decoration: none;
          &:hover {
            color: $color-orange;
          }
        }
        p {
          color: $color-orange;
          font-size: 22px;
        }
        .product_icon {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          justify-content: space-between;
          padding: 15px 15px 0 15px;
          .new_tag {
            background-color: #ff5b72;
            width: 50px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            color: white;
            border-radius: 5px;
            font-size: 13px;
          }
          .icon {
            display: flex;
            flex-direction: column;
            i {
              transform: translateX(55px);
              &:hover {
                color: $color-orange;
              }
            }
          }
        }
        &:hover {
          .product_icon {
            .icon {
              i {
                &:first-child {
                  transform: translateX(0);
                  transition: all 0.5s;
                }
                &:nth-child(2) {
                  transform: translateX(0);
                  transition: all 0.5s;
                  transition-delay: 0.2s;
                }
                &:last-child {
                  transform: translateX(0);
                  transition: all 0.5s;
                  transition-delay: 0.4s;
                }
              }
            }
          }
        }
      }
    }
  }
}
